{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "provenance": []
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    }
  },
  "cells": [
    {
      "cell_type": "code",
      "execution_count": 2,
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 130
        },
        "id": "QXHQKGIkWxLN",
        "outputId": "c8466ad5-813b-466f-cf97-03696c2efd2c"
      },
      "outputs": [
        {
          "output_type": "error",
          "ename": "SyntaxError",
          "evalue": "ignored",
          "traceback": [
            "\u001b[0;36m  File \u001b[0;32m\"<ipython-input-2-15cd190016f2>\"\u001b[0;36m, line \u001b[0;32m1\u001b[0m\n\u001b[0;31m    <!DOCTYPE html>\u001b[0m\n\u001b[0m    ^\u001b[0m\n\u001b[0;31mSyntaxError\u001b[0m\u001b[0;31m:\u001b[0m invalid syntax\n"
          ]
        }
      ],
      "source": [
        "<!DOCTYPE html>\n",
        "<html lang=\"en\">\n",
        "<head>\n",
        "    <meta charset=\"UTF-8\">\n",
        "    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n",
        "    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n",
        "    <link rel=\"stylesheet\" href=\"/static/style.css\">\n",
        "    <title>Digit Recongizer</title>\n",
        "</head>\n",
        "<body>\n",
        "    <div class=\"Parent-container\">\n",
        "            <div class=\"header\">\n",
        "                <h3 class=\"heading\">IBM PROJECT</h3>\n",
        "                <div class=\"navbar\">\n",
        "                    <ul>\n",
        "                        <li><a href=\"{{ url_for('index') }}\">Home</a></li>\n",
        "                        <li><a href=\"{{ url_for('web') }}\">Recognize</a></li>\n",
        "                        <!-- <li><a href=\"/templates/index.html\">Home</a></li>\n",
        "                        <li><a href=\"/templates/web.html\">Recognize</a></li> -->\n",
        "                    </ul>\n",
        "                </div>\n",
        "            </div>\n",
        "            <div class=\"body-container\">\n",
        "                <div class=\"background-image\">\n",
        "                    <img src=\"/static/Images/kutty.jpeg\" class=\"image\">\n",
        "                    <div class=\"text\">\n",
        "                        <h1 class=\"title\">Handwritten Recognition System</h1>\n",
        "                        <p class=\"details\">Handwritten Text Recogntion is a technology that is much in this world as of today. \n",
        "                            This digit Recongnition system is used to recongnize the digits from mthe different sources like emails, \n",
        "                            bank cheque, papers ,images, etc. Before proper implementation of this technology we have relied on writing texts\n",
        "                             with our hands which can result in errors. It's difficult to store and access physical data with effiency . The project\n",
        "                              presents recongnzing the handwritten digits (0to9) from the famous MNIST dataset. Here we will \n",
        "                            be using artifical nenural networks/ convolution neural network.</p>\n",
        "                    </div>\n",
        "                </div>\n",
        "\n",
        "            </div>\n",
        "    </div>\n",
        "    \n",
        "</body>\n",
        "</html>"
      ]
    }
  ]
}